:root{
    --main: #0093ff;
}

*{
    padding: 0;
    margin: 0;
}
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #0000000a;
}

.list-group-item{
    border-left: none;
    border-right: none;
}
.checker {
    background: var(--main);
    padding: 0 3px;
    border-radius: 50px;
    height: 20px;
    width: 20px;
    line-height: 20px;
    color: #fff;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 16px 17px;
    background: #fff;
}
.header h4 {
    font-size: 17px;
    font-weight: 700;
}

.submit_btn {
    height: 60px;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
}
.submit_btn a {
    background: var(--main);
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    width: 236px;
    padding: 8px 100px;
    border-radius: 5px;
    margin: auto;
}

.card {
    border: none;
}
h3.header_title {
    text-align: center;
    font-size: 25px;
    font-weight: 400;
}
p.header_count {
    margin: 0;
    margin-top: 20px;
    text-align: center;
    color: #ddd;
}
h3.header_time {
    text-align: center;
    color: #db3535;
    font-size: 26px;
}
p.payment_para {
    color: #a79c9c;
    font-size: 13px;
    margin-top: 9px;
}
h3.payment_me_title {
    font-size: 20px;
    padding-left: 10px;
    position: relative;
}
h3.payment_me_title::before {
    position: absolute;
    content: "";
    width: 5px;
    height: 20px;
    background: var(--main);
    left: 0;
    top: 3px;
    border-radius: 50px;
}
.td1 {
    color: #a1a1a1;
}
i.fa.fa-copy {
    color: #777;
}
label {
    font-weight: 600;
    margin-bottom: 7px;
}
input.form-control {
    background: #0000001c;
}
input.form-control:focus-visible{
    outline: none;
}
.form-control:focus {
    box-shadow: none;
}
img {
    width: 150px;
    border-radius: 5px;
}
.btn-success {
    background: var(--main);
}






